{% extends 'base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}
<main class="container">
    <div class="text-center">
        <img src="{{ url_for('static', filename='images/rd.jpg') }}" class="img-fluid" alt="Home Image">
    </div>
    <div class="row">
        <!--Лівий блок-->
        <div class="col-md-6 border">
            <br>
            <form action="/" method="POST" onsubmit="return validateFormReport()">
                {{ data.form.csrf_token }}
                <br>
                <h3>Замовити звіт з продаж у файлі JSON</h3>
                <br>
                <div class="form-group">
                    <label for="sale_date"><b>За яку дату:</b></label>
                    <input type="date" class="form-control" id="sale_date" name="sale_date" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Отримати звіт JSON</button>
                <div style="color: green; font-weight: bold; margin-top: 10px;"></div>
                {% if data.msg %}
                <div style="color: red; font-weight: bold; margin-top: 10px;">{{ data.msg | safe }}</div>
                {% endif %}
            </form>
            <br>
        </div>
        <!--Правий блок-->
        <div class="col-md-6 border">
            <br>
            <form action="/" method="POST" onsubmit="return validateFormReport()">
                {{ data.form.csrf_token }}
                <br>
                <h3>Замовити звіт з продаж у файлі STG</h3>
                <br>
                <div class="form-group">
                    <label for="sale_date_stg"><b>За яку дату:</b></label>
                    <input type="date" class="form-control" id="sale_date_stg" name="sale_date_stg" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Отримати звіт STG</button>
                <div style="color: green; font-weight: bold; margin-top: 10px;"></div>
                {% if data.msg_stg %}
                <div style="color: red; font-weight: bold; margin-top: 10px;">{{ data.msg_stg | safe }}</div>
                {% endif %}
            </form>
            <br>
        </div>
    </div>
    <br>
</main>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
