{% extends 'base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}
<main class="container">
    <div class="text-center">
        <img src="{{ url_for('static', filename='images/rd.jpg') }}" class="img-fluid" alt="Home Image">
    </div>
    <div class="text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <br>
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message | safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <!--Лівий блок-->
        <div class="col-md-6 border">
            <br>
            <form action="/" method="POST" onsubmit="return validateFormReport()">
                {{ data.form.csrf_token }}
                <br>
                <h3>Замовити звіт з продаж у файлі JSON</h3>
                <br>
                <div class="form-group">
                    <label for="sale_date"><b>За яку дату:</b></label>
                    <input type="date" class="form-control" id="sale_date" name="sale_date" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Отримати звіт JSON</button>
                <div style="color: green; font-weight: bold; margin-top: 10px;"></div>
            </form>
            <br>
        </div>
        <!--Правий блок-->
        <div class="col-md-6 border">
            <br>
            <form action="/" method="POST" onsubmit="return validateFormReport()">
                {{ data.form.csrf_token }}
                <br>
                <h3>Замовити звіт з продаж у файлі AVRO</h3>
                <br>
                <div class="form-group">
                    <label for="sale_date_stg"><b>За яку дату:</b></label>
                    <input type="date" class="form-control" id="sale_date_stg" name="sale_date_stg" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Отримати звіт AVRO</button>
                <div style="color: green; font-weight: bold; margin-top: 10px;"></div>
            </form>
            <br>
        </div>
    </div>
    <br>
</main>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
